
.sidebar_left .nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	margin-top: 10px;
}
.nav.side-menu > li.active, .nav.side-menu > li.current-page {
	border-right: 5px solid #1ABB9C;
}
li.active .child_menu {
	display: block;
}
.nav.side-menu > li {
	position: relative;
	display: block;
	cursor: pointer;
}
.side-menu > li.active > a, .side-menu > li > a:hover {
	text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
	background: linear-gradient(#334556, #2C4257), #2A3F54;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}
.side-menu a span.fa {
	text-align: right;
	margin-right: 4px;
	float: right;
	margin-top: 5px;
	font-size: 10px;
	min-width: inherit;
	color: #C4CFDA;
	width: 26px;
	opacity: .99;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
}
.child_menu {
	display: none
}
.nav.child_menu > li > a, .nav.side-menu > li > a {
	color: #E7E7E7;
	font-weight: 500;
}
.nav.side-menu > li > a {
	margin-bottom: 6px;
}
.nav > li > a {
	padding: 13px 15px 12px;
}
.nav > li > a {
	position: relative;
	display: block;
}
.child_menu li {
	padding-left: 36px;
}
.child_menu > li > a {
	color: #fff;
	font-size: 12px;
	padding: 9px;
	font-weight: 500;
	text-decoration: none !important;
}
.side-menu > li .child_menu li:before {
	background: #425668;
	bottom: auto;
	content: "";
	height: 8px;
	left: 23px;
	margin-top: 15px;
	position: absolute;
	right: auto;
	width: 8px;
	z-index: 1;
	border-radius: 50%;
}
.side-menu > li > .child_menu > li:after {
	border-left: 1px solid #425668;
	bottom: 0;
	content: "";
	left: 27px;
	position: absolute;
	top: 45px;
}
li.current-page, .child_menu li:hover {
	background: rgba(255,255,255,.05);
}
.menu_section {
	margin-bottom: 35px;
}
.menu_section h3 {
	padding-left: 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 700;
	font-size: 11px;
	margin-bottom: 0;
	margin-top: 0;
	text-shadow: 1px 1px #000;
}
